rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /counters/0 {
      allow read;
      allow write: if (
      	request.resource.data.keys().hasOnly(['count']) &&
      	request.resource.data.count is int
      );
    }
  }
}